header {
  position: fixed;
  z-index: 1;
  background-color: #fff;
  left: 0;
  right: 0;
  padding-top: 10px;
}

.row {
  margin-top: 90px;
}

.pokewrapper {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  position: relative;
}

.edit-wrapper {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}

.flex-container {
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  width: 300px;
}
